.bg
{
    margin-top: 170px;

}

.border
{
  box-sizing: content-box;
  width: 400px;
  height: 350px;
  padding: 30px;
  border: 1px solid lightgray ;
  background-color:lightgray;

}

.inline
{
    display: inline;
}
.cards
{
    width: 60px;
    height: 60px;
}
.margin-left
{
    margin-left: 250px;
}

.bg-image
{
    background:url(../sliki/uplata-bg.jpg);
    background-size: cover;
    background-position: center;
}
