#container{
    height: 10vh;
    width: 100%;
    background: #fcfeff;
    position: relative;
}
#navbar{
    height: 15%;
    width: 90%;
    clip-path: polygon(100% 0, 95% 50% , 50% 100% , 5% 50% ,0 0);
    position: absolute;
    top: 0;
    left: 5%;
    background: #000000;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
}
#navbar ul,ol{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0px;
}
ul{
    position: absolute;
    left: 5%;
}
ol{
    position: absolute;
    right: 5%;
}
li{
    margin: 0px 40px;

}
li a{
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}
li a:hover{
    color:#ff0000 ;
    text-decoration: none;
}
#logo{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 9px;
    left: calc(50% - 35px);
}
#logo img{
    height: 120px;
}
#logo1 img{
  height: 250px;
  width: 250px;
  position: absolute;
}
